In [1]:
import numpy as np
import pandas as pd

# P1 Carga y Limpieza de datos

### 1- . Carga

In [2]:
def obtener_semana(week):
    week = str(week)
    # Traemos los dataframe
    all_info = pd.read_csv('./data/raw/w'+week+'/metrocuadrado_all_w'+week+'.csv')
    all_info.drop_duplicates(inplace = True)
    furnished = pd.read_csv('./data/raw/w'+week+'/metrocuadrado_furnished_w'+week+'.csv')
    furnished.drop_duplicates(inplace = True)
    
    # Merge que identifica furnished dentro de all_info
    df = pd.merge(all_info,furnished, on = ['property_type|rent_type|location','details'
                                            ,'url','surface','price'],
                  how= 'outer', indicator=True)
    df.rename(columns={'n_rooms_x': 'n_rooms', 'n_bath_x': 'n_bath',
                       'metrocuadrado_index_x': 'metro_cuadrado'},inplace=True)
    
    # Indices que solo hay en furnished
    indices = df[df._merge == 'right_only'].index
    for i in indices:
        df.loc[i,'n_rooms'] = df.loc[i,'n_rooms_y']
        df.loc[i,'n_bath'] = df.loc[i,'n_bath_y']
        df.loc[i,'metro_cuadrado'] = df.loc[i,'metrocuadrado_index_y']
    
    # Dropeamos los _y
    df.drop(['n_rooms_y','n_bath_y','metrocuadrado_index_y'],axis=1,inplace=True)
    
    # Dropeamos los duplicados y reseatmos indice
    df.drop_duplicates(inplace = True)
    df.reset_index(drop=True,inplace=True)
    
    return df

In [3]:
def append_dataframes():
    week_list = range(13,18)
    df = pd.DataFrame()
    
    for week in week_list:
        df = df.append(obtener_semana(week))
     
    df.drop_duplicates(inplace = True)
    df.reset_index(drop=True,inplace=True)
    return df

In [4]:
# Iniciar Data frame
df = append_dataframes()
df

,property_type|rent_type|location,price,n_rooms,n_bath,surface,details,url,metro_cuadrado,_merge
0,"Casa en Arriendo, LA SOLEDAD NORTE Bogotá D.C..",$1.050.000,3,2,63.0 m2,Excelente casa cerca de la calle 80 y Avenida ...,https://www.metrocuadrado.com/inmueble/arriend...,25.6,left_only
1,"Casa en Arriendo, CIUDAD SALITRE SUR-ORIENTAL ...",$3.930.000,3,2,100.0 m2,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3,both
2,"Casa en Arriendo, VILLA DE LOS ALPES II SECTOR...",$750.000,3,1,90.0 m2,CASA DE TRES NIVELES TRES ALCOBAS SALA COMEDOR...,https://www.metrocuadrado.com/inmueble/arriend...,12.2,left_only
3,"Casa en Arriendo, PARIS GAITAN Bogotá D.C..",$3.400.000,5,4,71.0 m2,casa ezquinera excelente ubicacion cinco alcob...,https://www.metrocuadrado.com/inmueble/arriend...,56.0,left_only
4,"Casa en Arriendo, BALCONES DE ORIENTE Bogotá D...",$1.560.000,4,3,96.0 m2,"Excelente casa de tres niveles, buena ubicació...",https://www.metrocuadrado.com/inmueble/arriend...,47.1,left_only
...,...,...,...,...,...,...,...,...,...
16374,"Apartamento en Arriendo, SANTA BIBIANA Bogotá ...",$2.600.000,1,2,60.0 m2,"Se arrienda precioso apartamento amoblado, con...",https://www.metrocuadrado.com/inmueble/arriend...,63.4,right_only
16375,"Apartamento en Arriendo, SANTA BARBARA OCCIDEN...",$2.350.000,1,1,43.0 m2,CÓMODO APARTAMENTO EN ARRIENDO UBICADO EN EL B...,https://www.metrocuadrado.com/inmueble/arriend...,56.0,right_only
16376,"Apartamento en Arriendo, CHICO NORTE Bogotá D.C..",$1.750.000,1,1,48.0 m2,Apartamentototalmente amoblado de 47 metros c...,https://www.metrocuadrado.com/inmueble/arriend...,39.4,right_only
16377,"Apartamento en Arriendo, LA CABRERA Bogotá D.C..",$3.900.000,2,3,102.0 m2,Hermoso y acogedor apartamento completamente a...,https://www.metrocuadrado.com/inmueble/arriend...,51.6,right_only
16378,"Apartamento en Arriendo, MOLINOS NORTE Bogotá ...",$2.525.000,2,3,106.0 m2,Hermoso apartamento de 106m2 2 añoS de const...,https://www.metrocuadrado.com/inmueble/arriend...,44.4,right_only

Si hay furnished que no hay en all, identificados como 'right_only' de la columna _merge

### 2- . Limpieza

##### a)

In [5]:
# Limpiamos la columna price
df['price']=df['price'].str.replace('$','')
df['price']=df['price'].str.replace('.','')
df['price'] = df['price'].apply(float)

In [6]:
# Limpiamos la columna surface
df['surface'] = df['surface'].str.replace('m2','')
df['surface'] = df['surface'].apply(float)

In [7]:
# Limpiamos n_rooms y n_baths, sujeto a cambios
df['n_rooms'] = df['n_rooms'].replace('5+',6)
df['n_rooms'].fillna(3,inplace=True)
df['n_rooms'] = df['n_rooms'].apply(float)

df['n_bath'] = df['n_bath'].replace('5+',6)
df['n_bath'].fillna(3,inplace=True)
df['n_bath'] = df['n_bath'].apply(float)

Vemos los Dtype

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16379 entries, 0 to 16378
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   property_type|rent_type|location  16379 non-null  object
 1   price                             16379 non-null  float64
 2   n_rooms                           16379 non-null  float64
 3   n_bath                            16379 non-null  float64
 4   surface                           16379 non-null  float64
 5   details                           16269 non-null  object
 6   url                               16379 non-null  object
 7   metro_cuadrado                    16379 non-null  float64
 8   _merge                            16379 non-null  category
dtypes: category(1), float64(5), object(3)
memory usage: 1.0+ MB

##### b)

In [9]:
# Split de la comuna
s = pd.Series(df.keys())
split = s.str.split('|', expand=True)

# Columnas de transicion
df[['property_type+rent_type', 'location']] = df['property_type|rent_type|location'].str.split(',', expand=True)
df[['property_type','rent_type']] = df['property_type+rent_type'].str.split(' en ', expand=True)

# Dropeamos las extra
df = df.drop(['property_type|rent_type|location', 'property_type+rent_type'], axis=1)

### 3- . Creación de columnas indicadoras

#### a)

In [10]:
# Creamos columna precio m2
df['precio_m2'] = df['price']/df['surface']

#### b)

In [11]:
def num_garajes(url):
    url_splitted = url.split('-garajes')
    # Si no hacemos split
    if len(url_splitted) == 1:
        return 0
    else:
        # Agarramos las ultimos dos caracteres XX-garajes
        n = url_splitted[0][-2:]
        # Si es del tipo -1-garajes, devolvemos 1
        if n[0] == '-':
            return n[1]
        return n
    

# Creamos la columna n_garajes
df['n_garajes'] = df['url'].apply(num_garajes)

In [12]:
# Limpiamos n_garajes, sujeto a cambios
df['n_garajes'] = df['n_garajes'].replace('4+',5)
df['n_garajes'] = df['n_garajes'].apply(float)

### 4- . Clasificación por tipo de producto

In [23]:
# Inicializamos la columna tipo
df['tipo'] = -1

def clasifica_producto(df):
    # Areas
    area_min = [80, 120, 180, 240, 360, 40, 60, 80]
    area_max = [120, 180, 240, 360, 460, 60, 80, 120]
    
    # Query
    for tipo_prod in range(1,9):
        minimo = area_min[tipo_prod-1]
        maximo = area_max[tipo_prod-1]
        # Query para tipos 1-5
        if tipo_prod<6:
            query = 'property_type == "Casa" and {} < surface < {}'.format(minimo,maximo)
            indices = df.query(query).index
            for i in indices:
                df.loc[i,'tipo'] = tipo_prod
        else:
            query = 'property_type == "Apartamento" and {} < surface < {}'.format(minimo,maximo)
            indices = df.query(query).index
            for i in indices:
                df.loc[i,'tipo'] = tipo_prod
        
    return df

# Actualizamos el dataframe
df = clasifica_producto(df)

In [24]:
df

,price,n_rooms,n_bath,surface,details,url,metro_cuadrado,_merge,location,property_type,rent_type,precio_m2,n_garajes,tipo
0,1050000.0,3.0,2.0,63.0,Excelente casa cerca de la calle 80 y Avenida ...,https://www.metrocuadrado.com/inmueble/arriend...,25.6,left_only,LA SOLEDAD NORTE Bogotá D.C..,Casa,Arriendo,16666.666667,1.0,-1
1,3930000.0,3.0,2.0,100.0,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3,both,CIUDAD SALITRE SUR-ORIENTAL Bogotá D.C..,Casa,Arriendo,39300.000000,1.0,1
2,750000.0,3.0,1.0,90.0,CASA DE TRES NIVELES TRES ALCOBAS SALA COMEDOR...,https://www.metrocuadrado.com/inmueble/arriend...,12.2,left_only,VILLA DE LOS ALPES II SECTOR Bogotá D.C..,Casa,Arriendo,8333.333333,0.0,1
3,3400000.0,5.0,4.0,71.0,casa ezquinera excelente ubicacion cinco alcob...,https://www.metrocuadrado.com/inmueble/arriend...,56.0,left_only,PARIS GAITAN Bogotá D.C..,Casa,Arriendo,47887.323944,0.0,-1
4,1560000.0,4.0,3.0,96.0,"Excelente casa de tres niveles, buena ubicació...",https://www.metrocuadrado.com/inmueble/arriend...,47.1,left_only,BALCONES DE ORIENTE Bogotá D.C..,Casa,Arriendo,16250.000000,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16374,2600000.0,1.0,2.0,60.0,"Se arrienda precioso apartamento amoblado, con...",https://www.metrocuadrado.com/inmueble/arriend...,63.4,right_only,SANTA BIBIANA Bogotá D.C..,Apartamento,Arriendo,43333.333333,1.0,-1
16375,2350000.0,1.0,1.0,43.0,CÓMODO APARTAMENTO EN ARRIENDO UBICADO EN EL B...,https://www.metrocuadrado.com/inmueble/arriend...,56.0,right_only,SANTA BARBARA OCCIDENTAL Bogotá D.C..,Apartamento,Arriendo,54651.162791,1.0,6
16376,1750000.0,1.0,1.0,48.0,Apartamentototalmente amoblado de 47 metros c...,https://www.metrocuadrado.com/inmueble/arriend...,39.4,right_only,CHICO NORTE Bogotá D.C..,Apartamento,Arriendo,36458.333333,1.0,6
16377,3900000.0,2.0,3.0,102.0,Hermoso y acogedor apartamento completamente a...,https://www.metrocuadrado.com/inmueble/arriend...,51.6,right_only,LA CABRERA Bogotá D.C..,Apartamento,Arriendo,38235.294118,2.0,8
16378,2525000.0,2.0,3.0,106.0,Hermoso apartamento de 106m2 2 añoS de const...,https://www.metrocuadrado.com/inmueble/arriend...,44.4,right_only,MOLINOS NORTE Bogotá D.C..,Apartamento,Arriendo,23820.754717,2.0,8

Hay que arreglar, hay casas con menos de 80 de surface

### 5- .

In [59]:
UPZ = pd.read_csv('./data/asignacion_upz/barrio-upz.csv')
UPZ

    UPlCodigo  UPlTipo          UPlNombre       UPlArea   pro_location
0      UPZ100        1           GALERIAS  2.375681e+06        palermo
1      UPZ100        1           GALERIAS  2.375681e+06     belalcazar
2      UPZ100        1           GALERIAS  2.375681e+06          sears
3      UPZ100        1           GALERIAS  2.375681e+06       galerias
4      UPZ100        1           GALERIAS  2.375681e+06  banco central
..        ...      ...                ...           ...            ...
463     UPZ42        1            VENECIA  6.638420e+06     nuevo muzu
464     UPZ42        1            VENECIA  6.638420e+06      el condor
465     UPZ42        1            VENECIA  6.638420e+06       laguneta
466     UPZ52        1           LA FLORA  1.877160e+06    villa maria
467     UPZ60        1  PARQUE ENTRENUBES  4.190395e+06            NaN

[468 rows x 5 columns]

In [62]:
def transforma_str(elemento):
    if type(elemento) == str:
        return elemento
    else:
        return ''
    
UPZ['pro_location'] = UPZ['pro_location'].apply(transforma_str)
UPZ['pro_location'] = UPZ['pro_location'].apply(str.upper)
UPZ

    UPlCodigo  UPlTipo          UPlNombre       UPlArea   pro_location
0      UPZ100        1           GALERIAS  2.375681e+06        PALERMO
1      UPZ100        1           GALERIAS  2.375681e+06     BELALCAZAR
2      UPZ100        1           GALERIAS  2.375681e+06          SEARS
3      UPZ100        1           GALERIAS  2.375681e+06       GALERIAS
4      UPZ100        1           GALERIAS  2.375681e+06  BANCO CENTRAL
..        ...      ...                ...           ...            ...
463     UPZ42        1            VENECIA  6.638420e+06     NUEVO MUZU
464     UPZ42        1            VENECIA  6.638420e+06      EL CONDOR
465     UPZ42        1            VENECIA  6.638420e+06       LAGUNETA
466     UPZ52        1           LA FLORA  1.877160e+06    VILLA MARIA
467     UPZ60        1  PARQUE ENTRENUBES  4.190395e+06

[468 rows x 5 columns]

In [63]:
df.loc[0,'location']

' LA SOLEDAD NORTE Bogotá D.C..'

In [64]:
'LA SOLEDAD NORTE' in df.loc[0,'location']

True